.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid olive;
  border-radius: 5px;
  margin-top: 10px;
  cursor:pointer;
}
.post:hover {
  transition: .3s;
  border: 2px solid #274722;
}
.post_info {
  display: flex;
  align-items: center;
}
.post_info > h5 {
  color: #274722;
  margin-left: 10px;
  cursor: pointer;
  font-size: 13px;
}
.post_info > h5:hover {
  transition: .3s;
  transform: scale(1.1);
}
.post_info small {
  margin-left: 10px;
}
.post_body {
  display: flex;
  flex-direction: column;
}
.post_body > .post_question{
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
}
.post_body > .post_question > p:hover{
  transition: .3s;
  transform: scale(1.1);
}
.post_body > img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.post_question > .post_btnAnswer {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: #274722;
  color: #ebd8ad;
  border-radius: 10px;
  padding: 10px;
}
.post_question > .post_btnAnswer:hover {
  cursor:pointer;
  transition: .3s;
  transform: scale(1.1);
}

.post_footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.post_footerAction {
  display: flex;
  justify-content: space-around;
  border-radius: 33px;
  padding: 5px;
  background-color: #274722;
  color:#ebd8ad;
  align-items: center;
}
.post_footerAction > .MuiSvgIcon-root{
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.post_footerAction > .MuiSvgIcon-root:hover {
  cursor: pointer;
  color:whitesmoke;
  transition: .2s;
  transform: scale(1.3);
}

.post_footer > .MuiSvgIcon-root {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.post_footer > .MuiSvgIcon-root:hover {
  cursor: pointer;
  transition: .3s;
  transform: scale(1.3);
}
.post_footerRight {
  margin-left: auto;
}
.post_footerRight > .MuiSvgIcon-root{
  cursor: pointer;
  margin-left: 30px;
}
.post_footerRight > .MuiSvgIcon-root:hover{
  cursor: pointer;
  transition: .3s;
  transform: scale(1.3);
}
